body{

    margin: 1cm;
    background-image: url(https://fondosmil.com/fondo/25330.jpg);
}

div{
    padding: 18px; 
}

#primera {

    background-color: firebrick;
}

.main h1 {

    text-align: center;
    font-size: 60px;
    color: white;
    background-color: red;
}

.main h2 {

    text-align: center;
    font-size: 45px;
    color: red;
}

nav{
    
    display: flex;
    flex-direction: row;
    background-image: url(https://pbs.twimg.com/media/CiYkCn8UUAAL6dK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


nav ul {

    display: flex;
    flex-direction: row;
}

nav li{

    display: flex; 
    margin-right: 40px;
    align-items: center;
}


nav a {

    text-decoration: none; 
    color: red;
    font-size: 35px; 
    display: block;
}


#nav-link {

    color: red;
    font-size: 35px;
    text-decoration: none;
}

#nav-link:hover {

    color: coral;
}


nav a:hover{

    color: coral;
}


#imgnav {

    display: flex;
    width: auto;           
    height: 180px;
}

.imagen-nav {

    display: flex;
    justify-content: center;
}

.menuButton1{

    display: flex; 
    width: 100%;
    justify-content: flex-end;
}


.menuButton2{

    display: flex;
    width: 100%;
    justify-content: flex-start;
}

footer table{

    border-style: ridge;
    border-radius: 20px;
}


footer {

    background-color: whitesmoke;
    padding: 20px;

}

footer hr {

    color: black;
}


#inputEmail4 {

    border-radius: 20px;
    width: auto;
    border-color: red;

}

#inputName4 {

    border-radius: 20px;
    width: auto;
    border-color: red;
}

#inputDNI4 {

    border-radius: 20px;
    width: auto;
    border-color: red;
}

#inputAddress4 {

    border-radius: 20px;
    width: auto;
    border-color: red;
}

form div {

    width: auto;
    height: auto;
    margin-bottom: auto;
}


.iconos {

    display: flex;
    justify-content: flex-end;
}

.icon {

    color: red;
    font-size: 2.5em;
}

.icon:hover {

    color: black;
}

.card:hover {

    transform: scale(1.02);
}


.card-title {

    font-size: 40px;
    font-style: italic;
    text-align: center;
}


#lista {

    font-size: 20px;
}

#beneficios {

    border-color: red;
    border-width: 5px;
    background-image: url(https://img.freepik.com/vector-premium/vector-simple-fondo-rojo-triangulo-gradual-aislado-blanco_9834-2110.jpg);
    height: 90%;
}

.card-title-2 {

    font-size: 40px;
    font-style: italic;
    text-align: center;
}

#red {

    border-color: red;   /* tengo que poner lo mismo que beneficios porque usando .card-body no me deja*/
    border-width: 5px;
    background-image: url(https://img.freepik.com/vector-premium/vector-simple-fondo-rojo-triangulo-gradual-aislado-blanco_9834-2110.jpg);
    height: 90%;
}

#quemita-iconos {

    color: black;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

#carouselExampleControls {

    width: auto;
    height: auto;
    border-width: 1cm;
    border-style: groove;
    border-color: gray;
    background-color: rgb(229, 229, 229); 
}

.info-quemita {

    background-color: white;
}

.card p {

    font-size: 20px;
}

#precios {

    border-color: red;
    border-width: 5px;
}

#listaprecios {

    font-size: 20px;
}

div .card-header {

    background-color: rgb(231, 57, 57);
    text-align: center;
}


#atencion-socio {

    border-color: red;
    border-width: 5px;
}

@media screen and (max-width:600px) {

    nav {

        display: flex;
    }


}




