body{

    margin: 1cm;
    background-color: darkred
}

div{
    padding: 50px; 
}

#primera {

    background-color: firebrick;
}

#main{
    background-color: whitesmoke;
    color: black;
}

#main h1 {

    color: red;
}

#main h2 {

    color: red;
}

nav{
    
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-image: url(https://pbs.twimg.com/media/CiYkCn8UUAAL6dK.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


nav ul {

    display: flex;
}

nav li{

    margin-left: 20px;
    list-style: none;
}

nav a {

    text-decoration: none; 
    color: red;
    font-size: x-large; 
}

#menucito {

    color: red;
    font-size: x-large;
    text-decoration: none;
}

nav a:hover{

    color: coral;
}

nav img{
    display: flex;
    width: auto;
    max-height: 250px;
}

.menuButton{
    display: flex;
    align-items: flex-end; /* el flex end es para que se te ponga en la parte de abajo. (solo que no se me pone). Si no usas center*/
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
}


footer table{

    border-style: ridge;
    border-radius: 20px;
}


footer {

    background-color: white;
    padding: 20px;

}

footer hr {

    color: black;
}


#main div p{

    font-size: 18px;
}

#main div img{

    display: flex;
}


#btnPp1 a{

    text-decoration: none;
    color: black;
}


#inputEmail4 {

    border-radius: 20px;
    width: auto;
    border-color: red;

}

#inputName4 {

    border-radius: 20px;
    width: auto;
    border-color: red;
}

#inputDNI4 {

    border-radius: 20px;
    width: auto;
    border-color: red;
}

#inputAddress4 {

    border-radius: 20px;
    width: auto;
    border-color: red;
}

form div {

    width: auto;
    height: auto;
    margin-bottom: auto;
}


ul {

    list-style-type: circle;
}


#carouselExampleFade {

    width: auto;
    height: auto;
    border-width: 1cm;
    border-style: double;
    background-color: rgb(134, 132, 132);
}

