body{

    margin: 1cm;
    background-color: darkred;
}

div{
    padding: 50px; 
}

#main{
    background-color: whitesmoke;
    color: red;
}

nav{

    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

nav ul {

    display: flex;
}

nav li{

    margin-left: 20px;
    list-style: none;
}

nav a {

    text-decoration: none; 
    color: black; 
}

nav a:hover{

    color: coral;
}

nav img{
    display: flex;
    width: auto;
    max-height: 250px;
}

.menuButton{
    display: flex;
    align-items: flex-end; /* el flex end es para que se te ponga en la parte de abajo. (solo que no se me pone). Si no usas center*/
    width: 100%;
    /*background-color: aquamarine;*/
    justify-content: flex-end;
    font-size: 20px;
}


footer table{

    border-color: red;
}

footer {

    background-color: whitesmoke;
}

#main div p{

    font-size: 18px;
}

#main div img{
    display: flex;
}

#btnPp1 a{

    text-decoration: none;
}
